[submodule "tools/riscv-gnu-toolchain"]
	path = tools/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "tools/verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator
[submodule "tools/iverilog"]
	path = tools/iverilog
	url = https://github.com/steveicarus/iverilog
[submodule "tools/icestorm"]
	path = tools/icestorm
	url = https://github.com/YosysHQ/icestorm.git
