[submodule "tools/riscv-gnu-toolchain"]
	path = tools/riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "tools/verilator"]
	path = tools/verilator
	url = https://github.com/verilator/verilator
[submodule "tools/iverilog"]
	path = tools/iverilog
	url = https://github.com/steveicarus/iverilog
[submodule "tools/icestorm"]
	path = tools/icestorm
	url = https://github.com/YosysHQ/icestorm.git
[submodule "tools/arachne-pnr"]
	path = tools/arachne-pnr
	url = https://github.com/cseed/arachne-pnr.git
[submodule "tools/nextpnr"]
	path = tools/nextpnr
	url = https://github.com/YosysHQ/nextpnr
[submodule "tools/yosys"]
	path = tools/yosys
	url = https://github.com/YosysHQ/yosys.git
[submodule "tools/cocotb"]
	path = tools/cocotb
	url = https://github.com/cocotb/cocotb
[submodule "tools/uvm-python"]
	path = tools/uvm-python
	url = https://github.com/tpoikela/uvm-python
[submodule "tools/cocotb-coverage"]
	path = tools/cocotb-coverage
	url = https://github.com/mciepluc/cocotb-coverage
